<%const monthNames = ["January", "February", "March", "April", "May", "June",
                      "July", "August", "September", "October", "November", "December"];%>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <main>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Habit name</th>
            <th scope="col"><%= new Date().getDate()-6 %>-<%=monthNames[new Date().getMonth()]%></th>
            <th scope="col"><%= new Date().getDate()-5 %>-<%=monthNames[new Date().getMonth()]%></th>
            <th scope="col"><%= new Date().getDate()-4 %>-<%=monthNames[new Date().getMonth()]%></th>
            <th scope="col"><%= new Date().getDate()-3 %>-<%=monthNames[new Date().getMonth()]%></th>
            <th scope="col"><%= new Date().getDate()-2 %>-<%=monthNames[new Date().getMonth()]%></th>
            <th scope="col"><%= new Date().getDate()-1 %>-<%=monthNames[new Date().getMonth()]%></th>
            <th scope="col"><%= new Date().getDate() %>-<%=monthNames[new Date().getMonth()]%></th>
          </tr>
        </thead>
        <tbody>
          
            <% for(let i of habits) {%>
            <tr>
                <th scope="row"><%=i.habit %></th>
                <% for(let j=0; j < i.days.length; j++) { %>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle " 
                            type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%=i.days[j]%>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item " href="/weeks/update/<%=i.id%>/<%=j%>/Completed">Completed</a>
                        <a class="dropdown-item " href="/weeks/update/<%=i.id%>/<%=j%>/Incomplete">Incomplete</a>
                        <a class="dropdown-item" href="/weeks/update/<%=i.id%>/<%=j%>/None">None</a>
                        </div>
                    </div>
                </td>
                <%}%>
                
            </tr>
            <%}%>
          
        </tbody>
    </table>
      
    
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="javascript/7days.js"></script>
            